.admin-container {
    padding: 20px; /* Add padding around the container */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.admin-avatar {
    width: 100px; /* Set width for the avatar */
    height: 100px; /* Set height for the avatar */
    border-radius: 50%; /* Make the avatar circular */
    margin-bottom: 15px; /* Space below the avatar */
}

.admin-info {
    font-size: 16px; /* Font size for the info text */
    color: #333; /* Dark text color */
}

.admin-role {
    font-weight: bold; /* Bold for the role */
    color: #007bff; /* Blue color for the role */
}

.dashboard-container {
    padding: 20px; /* Add padding around the container */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

<<<<<<< HEAD

=======
.card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  
  @media (max-width: 768px) {
    .display-4 {
      font-size: 2rem;
    }
  }
>>>>>>> be0869eaf5d981e5045dbd09818a5d79b2d28ac0

